[submodule "packages/manifold/lib/openzeppelin-contracts"]
	path = packages/manifold/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/manifold/lib/openzeppelin-contracts-upgradeable"]
	path = packages/manifold/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/manifold/lib/libraries-solidity"]
	path = packages/manifold/lib/libraries-solidity
	url = https://github.com/manifoldxyz/libraries-solidity
[submodule "packages/manifold/lib/creator-core-solidity"]
	path = packages/manifold/lib/creator-core-solidity
	url = https://github.com/manifoldxyz/creator-core-solidity
[submodule "packages/manifold/lib/operator-filter-registry"]
	path = packages/manifold/lib/operator-filter-registry
	url = https://github.com/ProjectOpenSea/operator-filter-registry
[submodule "packages/manifold/lib/murky"]
	path = packages/manifold/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "packages/enumerable/lib/forge-std"]
	path = packages/enumerable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/dynamic/lib/forge-std"]
	path = packages/dynamic/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/manifold/lib/forge-std"]
	path = packages/manifold/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/dynamic/lib/creator-core-solidity"]
	path = packages/dynamic/lib/creator-core-solidity
	url = https://github.com/manifoldxyz/creator-core-solidity
[submodule "packages/dynamic/lib/openzeppelin-contracts"]
	path = packages/dynamic/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "packages/enumerable/lib/creator-core-solidity"]
	path = packages/enumerable/lib/creator-core-solidity
	url = https://github.com/manifoldxyz/creator-core-solidity
[submodule "packages/enumerable/lib/openzeppelin-contracts"]
	path = packages/enumerable/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "packages/enumerable/lib/libraries-solidity"]
	path = packages/enumerable/lib/libraries-solidity
	url = https://github.com/manifoldxyz/libraries-solidity
[submodule "packages/enumerable/lib/openzeppelin-contracts-upgradeable"]
	path = packages/enumerable/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/Openzeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/dynamic/lib/libraries-solidity"]
	path = packages/dynamic/lib/libraries-solidity
	url = https://github.com/manifoldxyz/libraries-solidity
[submodule "packages/dynamic/lib/openzeppelin-contracts-upgradeable"]
	path = packages/dynamic/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/Openzeppelin/openzeppelin-contracts-upgradeable
